{% extends 'base.html' %}

{% block title %}Password Dimenticata{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
      <div class="alert-placeholder"></div>
      <div class="panel panel-success">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-center"><h2><strong>Recupera Password</strong></h2></div>
              <form id="register-form" action="/password/requestReset" method="post" role="form" autocomplete="off">
                <div class="form-group-registration">
                  <label for="email">Ti invieremo un link tramite email per recuperare la password</label>
                  <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email " value="" autocomplete="off" required />
                </div>
                <div class="form-group-registration ">
                  <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                      <input type="submit" name="recover-submit" id="recover-submit" tabindex="2" class="form-control btn btn-login" value="Invia dati" />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
