{% extends 'base.html' %}

{% block title %}Recupera password{% endblock %}

{% block body %}

    <div class="container">
    			<div class="col-md-6 col-md-offset-3">
    				<div class="panel panel-login">
    					<div class="panel-body">
                <div class="row">
                  <div class="col-xs-6">
                  <h3 style="font-family: Geneva">Reimposta la password</h3>
                  </div>
                </div>
              <form id="register-form" action="/password/reset-password" method="post" role="form" style="display: block;">

              		<input type="hidden" name="token" value="{{ token }}"/>

	                  <div class="form-group">
                      <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">

                      <input type="password" name="password_confirmation" id="password_confirmation" tabindex="2" class="form-control" placeholder="Ripeti password">
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                          <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Aggiorna">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
